.comodos-casa {
  display: flex;
}

.titulo-casa {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

footer {
  text-align: center;
  padding: 15px 0;
  background-color: #0008f8;
  color: white;
  position: relative;
  margin-top: 20px;
  width: 100%;
}

footer p {
  margin: 0;
  font-weight: bold;
}
