.cozinha {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 33.33%;
    margin: 20px auto;
}

.luz {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
}

.fogao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
}

.geladeira {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
}

.luz p,
.fogao p,
.geladeira p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

button {
    padding: 10px 30px;
    margin-top: 15px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button.luz {
    background-color: #FFA726;
    color: white;
}

button.luz:hover {
    background-color: #FB8C00;
}

button.fogao {
    background-color: #FF7043;
    color: white;
}

button.fogao:hover {
    background-color: #F4511E;
}

button.geladeira {
    background-color: #42A5F5;
    color: white;
}

button.geladeira:hover {
    background-color: #1E88E5;
}

i.fas {
    font-size: 60px;
    margin-top: 15px;
    display: block;
    transition: color 0.3s ease;
}

.luz i.on {
    color: #FFD700;
}

.luz i.off {
    color: #757575;
}

.fogao i.on {
    color: #FF5722;
}

.fogao i.off {
    color: #B0BEC5;
}

.geladeira .alerta {
    color: #E53935;
    font-size: 18px;
    font-weight: 700;
}

.controle-potencia input {
    margin-top: 10px;
}

.input-potencia {
    text-align: center;
}
